body{
    background-image: radial-gradient(circle at 1.61% 32.39%, #d8b5fb 0, #bfa0f4 16.67%, #a08ced 33.33%, #7a78e6 50%, #4566df 66.67%, #0057d9 83.33%, #004bd3 100%);
    text-align: center;
    padding: 50px;
}

header{
    margin-top: 30px;
}

h1{
    font-size: 40px;
}

form{
    width: 30%;
    height: 300px;
    background-color: grey;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
}

label{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: x-large;
}

input{
    margin-top: 10px;
    justify-content: center;
    font-size: x-large;
}

button{
    margin-top: 40px;
    width: 70%;
    justify-content: center;
    font-size: x-large;
}

button:hover{
    background-color: chartreuse;
    color: blanchedalmond;
}

form p{
    margin-top: 50px;
    font-size: 32px;
    background-color: black;
    color: red;
}