body{
    background: rgba(98,125,77,1);
    background: -moz-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(26,25,25,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,125,77,1)), color-stop(100%, rgba(26,25,25,1)));
    background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(26,25,25,1) 100%);
    background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(26,25,25,1) 100%);
    background: -ms-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(26,25,25,1) 100%);
    background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(26,25,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1a1919', GradientType=1 );
    text-align: center;
    color: azure;
}

h1{
    font-size: 50px;
}

.bloque{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cuadrado{
    background-color: aliceblue;
    color: black;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.triangulo{
    background-color: aliceblue;
    color: black;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.circulo{
    background-color: aliceblue;
    color: black;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

button {
    display: flex;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: rgb(41, 32, 212);
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    width: 120px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }

  
  button:hover {
    background-color: white;
    color: black;
  }

  input{
      display: flex;
      width: 50%;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 60px;
  }