body{

    background-image: radial-gradient(circle at 1.61% 32.39%, #d8b5fb 0, #bfa0f4 16.67%, #a08ced 33.33%, #7a78e6 50%, #4566df 66.67%, #0057d9 83.33%, #004bd3 100%);
    text-align: center;
}

h1{
    font-size: 50px;
}

.bloque{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cuadrado{
    background-color: aliceblue;
    color: black;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
}

.triangulo{
    background-color: aliceblue;
    color: black;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
}

.circulo{
    background-color: aliceblue;
    color: black;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
}

button {
    display: flex;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: rgb(41, 32, 212);
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    width: 120px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }

  
  button:hover {
    background-color: white;
    color: black;
  }

  input{
      display: flex;
      width: 50%;
      margin-top: 8px;
      margin-bottom: 20px;
      margin-left: 60px;
  }

  #Resultado{
      font-size: 30px;
      background-color: brown;
      color: bisque;
      margin-top: 100px;
  }